.color-primary {
  color: $primary;
}

.color-secondary {
  color: $secondary;
}

.color-dark-secondary {
  color: $dark-secondary;
}

.color-hight {
  color: $hight-light;
}

.color-white {
  color: $black-0;
}

header {
  position: fixed;
  width: 100%;
  height: 200px;
  z-index: 1200;

  img {
    position: absolute;
    top: 30px;
    width: 200px;
    left: 40px;
    opacity: 0;
  }

  .user-btn {
    position: fixed;
    right: 10px;
    top: 30px;
    @include icon-btn('../resource/btn/btn_user.png', '../resource/btn/btn_user_h.png', 100%);
    width: 80px;
    height: 80px;
  }
}