$primary:#007FAB;
$dark-primary:#003A4F;
$light-primary:#B0D2DE;

$secondary:#FFC37D;
$dark-secondary:#A46039;
$light-secondary:#FFE2A9;

$hight-light:#FF5136;
$dark-hight-light:#CD331A;
$light-hight-light:#FFB5A4;

$black-0:#FFFFFF;
$black-100:#000000;
$black-200:#333333;
$black-400:#666666;
$black-600:#999999;
$black-800:#CCCCCC;